snippet log
IO.puts "==================="
IO.inspect ${0:${VISUAL}}
IO.puts "==================="
endsnippet

snippet vlog
a = ${0:${VISUAL}}
IO.puts "==================="
IO.inspect a
IO.puts "==================="
a
endsnippet

snippet >p
|> Map.put(:${1}, $1)
endsnippet

snippet rp
Repo.preload(:${1})
endsnippet

snippet rg
Repo.get(${1})
endsnippet

snippet ro
Repo.one
endsnippet

snippet ra
Repo.all
endsnippet

snippet ea
Ecto.assoc(:${1})
endsnippet
